* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ingrid Darling", cursiva;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

nav {
    display: flex;
    gap: 100px;
}

a {
    font-size: 40px;
    color: rgb(83, 83, 83);
    text-decoration: none;
}

a:hover{
    color: gray;
    filter: drop-shadow(10px 0 10px black);
    transition: 0.5s;
}

.logo {
    font-size: 60px;
}

.background {
    position: absolute;
    top: 0;
    width: 582px;
    left: calc(50% - 291px);
    opacity: 30%;
    z-index: -1;
}

.pagina-onde-estou{
    color: black;
    filter: drop-shadow(10px 0 5px black);
}

.suporte-de-perfume {
    position: absolute;
    width: 400px;
    height: 480px;
    top: 100px;
    left: 70px;
    
}

.suporte-de-perfume:hover {
    filter: drop-shadow(10px 0 20px black);
    transition: 0.5s;
}

.titulo {
    position: absolute;
    top: 505px;
    left: 215px;
    font-size: 25px;
}

.espaço-do-texto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 250px;
    left: 550px;
    width: 19%;
    height: 30%;
    text-align: center;
}

.texto {
    font-size: 30px;
    text-align: center;
}

.flor-que-foi-usada {
    position: absolute;
    top: 130px;
    left: 950px;
}

.flor-que-foi-usada:hover {
    filter: drop-shadow(10px 0 20px gray);
    transition: 0.5s;
}

.espaço-dos-suportes-de-perfumes {
    position: absolute;
    top: 580px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.suporte-de-perfume-baixo1 {
    width: 150px;
    height: 195px;
    opacity: 100%;
}

.suporte-de-perfume-baixo1:hover {
    filter: drop-shadow(10px 0 20px black);
    transition: 0.5s;
}

.suporte-de-perfume-baixo2 {
    width: 150px;
    height: 195px;
    opacity: 100%;
}

.suporte-de-perfume-baixo2:hover {
    filter: drop-shadow(10px 0 20px black);
    transition: 0.5s;
}

.suporte-de-perfume-baixo3 {
    width: 150px;
    height: 195px;
    opacity: 100%;
}

.suporte-de-perfume-baixo3:hover {
    filter: drop-shadow(10px 0 20px black);
    transition: 0.5s;
}

.suporte-de-perfume-baixo4 {
    width: 150px;
    height: 195px;
    opacity: 100%;
}

.suporte-de-perfume-baixo4:hover {
    filter: drop-shadow(10px 0 20px black);
    transition: 0.5s;
}